body {
    text-align: center;
    font-family:  sans-serif;
    margin-left: 200px;
    margin-right:200px;
}

#title{
  text-align: center;
  /* margin-top: 100px; */
  font-size: 200px;
  font-weight:800;
  font-family: sans-serif;
  color: white;

}

.introBody{
  background: linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)),url(introPic.jpg);
  height: 800px;
  background-size: cover;
}

.container .inner{
  position: absolute;
  width: 100%;
}

#intro {
  height: 850px;
  text-align: center;
  /* margin-top: 50px; */
  font-size: 20px;
  font-weight:400;
  background-color:rgba(255, 192, 203, 0.74);
}

.terms{
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  gap:30px;
}

#term{
  color:rgb(255, 255, 255);
  font-weight:700
}

#openP, #lineP, #pieCap{
  margin-left: 200px;
  margin-right: 200px;
}

#nav-bar {
  position: sticky;
  top:0;
  z-index:10;
}

.navbar{
  background-color: rgb(101, 134, 134);
  padding: 0 !important;
  position: fixed;
  height:150px
}

.navbar-brand img {
  height:70px;
  padding-left : 100px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a{
  color: #fff !important;
  font-weight: 700;
  font-size: 25px;
  
}

/* --------------------------- LINE GRAPH ---------------- */

.line{
  margin-top: 100px;
  margin-left:200;
  margin-right:auto;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  text-align: center;
}


#lineHigh {
    flex: 1;
    justify-content: center;
}


/* --------------------------- PIE ---------------- */

#pie{
  margin-top: 200px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  height:1000px;
}


.pieBox {
    display:flex;
}

#pieHigh1946 {
    flex: 1;
    justify-content: center;
}

#pieHigh1979 {
    flex: 1;
    justify-content: center;
}

#pieHigh2019 {
    flex: 1;
    justify-content: center;
}

/* --------------------------- SPYDER ---------------- */

.spider {
    display:flex;
}

#spyder{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  text-align: center;
}

#spyderText{
  text-align:center;
  margin-left: 200px;
  margin-right: 200px;
}

#chart-container {
    justify-content: center;
}

  #container {
    height: 400px;
    /* width:800px; */
  }
  .highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
  }
  #bar{
    margin-top: 200px;
    margin-left:100px;
    margin-right:200px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    text-align: center;
    gap:60px;


}